@font-face {
  font-family: myFont;
  src: url('FRIDAYNIGHTLIGHTS-L5PE.TTF');
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(234, 234, 234) !important;
  font-family: myFont;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    to right,
    #4cb8c4 69%,
    #3cd3ad 89%
  ) !important;
  border-bottom: 0.8em solid rgba(255, 255, 0, 0.089);
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: url('football.jpg') !important;
  height: 100vh;
  width: 100vw;  
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 5em;
  font-weight: normal;
  font-family: myFont;
  letter-spacing: 0.05em;
  color: yellow;
}

div#root {  
  background-image: url("./4855443.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;  
}

.ui.column.grid>[class*="twelve wide"].column {
  width: 100% !important;
}

.ui.large.label {
  background-image: linear-gradient(
    to right,
    #4cb8c4 69%,
    #3cd3ad 89%
  ) !important;
  color: yellow !important; 
  border: 1px solid yellow !important;
}

.ui.blue.button {
  background-image: linear-gradient(
    to right,
    #4cb8c4 69%,
    #3cd3ad 89%
  ) !important;
  border: 1px solid yellow;
  color: yellow !important; 
  margin-top: 1em;
}

.ui.attached.header {
  background-image: linear-gradient(
    to right,
    #4cb8c4 69%,
    #3cd3ad 89%
  ) !important;
  color: yellow;
}

.rw-cell.rw-state-selected {
  background-color: yellow;
  border-color: teal;
  color: black;
}


div.ui.segments, div.ui.large.vertical.menu, div.rw-calendar.rw-widget-container.rw-widget {
  border-right: 1px solid yellow;
  border-bottom: 1px solid yellow;
  box-shadow: 2px 2px 1px 1px rgba(255, 255, 0, 0.068);
}

@media only screen and (max-width: 700px) {
  .masthead {
    background-image: url('football_smallest.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height:  100vw !important;
    width: 100vw !important;
  }  
}