@font-face {
  font-family: myFont;
  src: url('FRIDAYNIGHTLIGHTS-L5PE.TTF');
}

body {
  background-color: rgb(234, 234, 234) !important;
  font-family: myFont;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    to right,
    #4cb8c4 69%,
    #3cd3ad 89%
  ) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: url('football.jpg') !important;
  height: 100vh;
  width: 100vw;  
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 5em;
  font-weight: normal;
  font-family: myFont;
  letter-spacing: 0.05em;
  color: yellow;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;  
}

@media only screen and (max-width: 700px) {
  .masthead {
    background-image: url('football_smallest.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height:  100vw !important;
    width: 100vw !important;
  }
}