body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(32, 167, 172) 0%,
    rgb(33, 138, 174) 19%,
    rgb(24, 42, 115) 79%
  ) !important;
}